{% extends 'base.html.twig' %}

{% block body %}
<<<<<<< HEAD
<<<<<<< HEAD
	<div class="min-h-screen flex flex-col">
		{{include('navbar.html.twig')}}
		<div class="h-12"></div>
		<div class="flex-[1] px-4 py-8">
			<div class="grid grid-cols-1 container mx-auto lg:grid-cols-4 gap-8">
=======
	<div class="container mx-auto  min-h-screen flex flex-col">
		{{include('navbar.html.twig')}}
		<div class="h-12"></div>
		<div class="flex-[1] px-4 py-8">
			<div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
>>>>>>> 289bc00 (Home Page UI, Dashboard Overview UI, Dashboard Exercise Library UI, Dashboard Todays Workout UI, Dashboard My Programs UI and some Atomic App UI components are done.For first step they are just spaghetti coded yet.  Dashboard routes are done too.)
=======
	<div class="min-h-screen flex flex-col">
		{{include('navbar.html.twig')}}
		<div class="h-12"></div>
		<div class="flex-[1] px-4 py-8">
			<div class="grid grid-cols-1 container mx-auto lg:grid-cols-4 gap-8">
>>>>>>> d6fd9a5 (small ui issue fixed. I gave container and mx-auto class to parent element of component. Now bg-colors are taking full screen but content is centered.)
				{{include('sidebar.html.twig')}}

				<!-- Main Content Area -->
				<div class="lg:col-span-3">

					{% block dashboard_content %}{% endblock %}
				</div>
			</div>
		</div>
		<div class="h-12"></div>
		{% include('footer.html.twig') %}
	</div>
{% endblock %}
