<a href="{{path('app_home')}}" class="flex items-center space-x-1 sm:space-x-2">
	<i class="fas fa-dumbbell text-xl sm:text-2xl text-orange-400"></i>
	<span class="text-lg sm:text-xl font-bold">FitTrack</span>
</a>
